.installed
*.DS_Store
*.retry
.downloads/*
!.downloads/.keep
.vaultpass
.logout
user
vars/internal.yml
logs/*
!logs/.keep

bin/onboot/*
!bin/onboot/.keep
bin/.tmp
.version
inventory/.custom
.custom.yml
